body {
  padding-top: 50px;
  display: block;
  margin: 0 auto;
}
col {
  margin-bottom: 200px;
}
.container {
  background-image: url("images/uni.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 50px;
  margin: 50px;
  display: block;
  border: 0.5px solid blueviolet;
  font-family: "Galada", cursive;
}
.date {
  color: purple;
  background-color: transparent;
  margin-left: 50px;
  font-family: "Galada", cursive;
}
.time {
  font: 56px;
  font-family: "Galada", cursive;
}
.button {
  color: white;
  background-color: #d19bfd;
  border-radius: 15px;
  text-align: center;
  width: 80px;
  height: 25px;
  border: 0.5px solid blueviolet;
  font-family: "Galada", cursive;
}

.largeDisplay {
  color: purple;
  font-size: 50px;
  padding-left: 40px;
  margin: 0 auto;
  font-family: "Galada", cursive;
}
.searchBar {
  width: 400px;
  display: block;
  margin: 0 auto;
  color: purple;
  background-color: transparent;
  font-family: "Galada", cursive;
}
.input-group-btn {
  background-color: #d19bfd;
  border-radius: 15px;
  text-align: center;
  width: 80px;
  height: 40px;
  margin-left: 5px;
  border: 0.5px solid blueviolet;
  font-family: "Galada", cursive;
}
.form-control {
  margin-left: 150px;
}
.sun {
  margin-left: 350px;

  width: 200px;
}
.lastrow {
  border-top: 0.5px solid blueviolet;
  height: 100px;
}
.days,
.temp {
  color: purple;
  margin-left: 40px;
  font-family: "Galada", cursive;
}
.weather {
  width: 60px;
  margin-left: 40px;
}
